@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root {  
  font-family: --apple-system, BlinkMacSystemFont;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #14121A;
  /* background: url(/bg.jpg); */
  /* background-size: cover; */
  /* background-position: -1000px -1020px; */
  /* background-size: 1924px 868px; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.clock-container {
  font-size: 230px;
}
div {
  text-align: center;
  width: 100vw;
}

.date-container {
  font-size: 30px;
}

